{% load widget_tweaks %}
{% if user.is_authenticated%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <title>Home</title>
</head>
<body style="background: #abc8ee;">
	<header>
		<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box"  >
		  <div class="px-2 mx-2 navbar-start">
			<span class="text-lg font-bold">
					MiFactory
				  </span>
		  </div> 
		  <div class="hidden px-4  navbar-center lg:flex">
			
                <a href="{% url 'adminProj' %}" class="block mx-4 font-semibold text-gray-500 hover:text-indigo-600 transition duration-200">Home</a>
                
            
                <a href="{% url 'logout' %}" class="block  font-semibold text-gray-500 hover:text-indigo-600 transition duration-200">Logout</a>

      
		  </div> 
    
      </div> 
		</header>
		
		




	<div class=" bg-white p-4 shadow-sm rounded-sm">
                            <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                                
                                <span class="tracking-wide"><h2>Candidate Information :</h2> </span>
                            
               
                            <div class="container" style="margin-top: 10px">
                                <table class="table">
                                  <tbody>
                                 
                                    <tr>
                                      <h4 class="text-lg font-bold text-transparent md:text-xl bg-clip-text bg-gradient-to-t from-gray-300  to-blue-600"> Name : {{candidate.user.name}}</h4>
                                      
                                    </tr>
                                    <tr>
                                      <h4 class="text-lg font-bold text-transparent md:text-xl bg-clip-text bg-gradient-to-t from-gray-300  to-blue-600">Email : {{candidate.user.email}}</h4>
                                      
                                    </tr>
                                    <tr>
                                      <h4 class="text-lg font-bold text-transparent md:text-xl bg-clip-text bg-gradient-to-t from-gray-300  to-blue-600">Phone : {{candidate.user.phone}}</h4>
                                      
                                    </tr> 
                                   
        
                                    <tr>
                                      <h4 class="text-lg font-bold text-transparent md:text-xl bg-clip-text bg-gradient-to-t from-gray-300  to-blue-600"> Skills  : {{candidate.skills}}</h4>
                                      
                                    </tr>
        
                                    <tr>
                                      <h4 class="text-lg font-bold text-transparent md:text-xl bg-clip-text bg-gradient-to-t from-gray-300  to-blue-600">Experience : {{candidate.experience}}</h4>
                                      
                                    </tr>
        
                                    <tr>
                                      <h4 class="text-lg font-bold text-transparent md:text-xl bg-clip-text bg-gradient-to-t from-gray-300  to-blue-600">Interest: {{candidate.interest}}</h4>
                                      
                                    </tr>
        
                                    <tr>
                                      <h4 class="text-lg font-bold text-transparent md:text-xl bg-clip-text bg-gradient-to-t from-gray-300  to-blue-600">Education background  : {{candidate.educ_background}}</h4>
                                      
                                    </tr>
                                    
                                    <tr>
                                        <h4 class="text-lg font-bold text-transparent md:text-xl bg-clip-text bg-gradient-to-t from-gray-300  to-blue-600">School Level : {{candidate.schoolLevel}}</h4>
                                        
                                      </tr>

                                      <tr>
                                        <h4 class="text-lg font-bold text-transparent md:text-xl bg-clip-text bg-gradient-to-t from-gray-300  to-blue-600">Age  : {{candidate.age}}</h4>
                                       
                                      </tr>
                                      <tr>
                            
                                        <button class="p-2 pl-5 pr-5 bg-red-500 text-gray-100 text-lg rounded-lg focus:border-4 border-red-300"><a href="{% url 'deactivateUser' candidate.user.id %}" >  Deactivate</a> </button>
                                        </tr>

                                  </tbody>
                                </table>
                              </div>
                            </div>
                        </div>
	
 




</body>
<style>
footer{
   
	background:	#e6e6fa;
	
	position:absolute;
	
	bottom:0;
	
	width:100%;
	
	padding-top:5px;
	
	height:100px;
	
	}
header{
 background:	#e6e6fa;
}

</style>


<footer class="items-center p-4 footer bg-neutral text-neutral-content"  >
	<div class="flex items-center">
	  
	  <h3>MiFactory © 2021 - Offers & collaborations</h3>
	</div> 
	<div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
	  <a>
	  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="fill-current">
		<path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
	  </svg>
	  </a> 
	  <a>
	  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="fill-current">
		<path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path>
	  </svg>
	  </a> 
	  <a>
	  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="fill-current">
		<path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
	  </svg>
	  </a>
	</div>
	</footer>
</html>

{% endblock %} 
{% endif %}